# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
###

# Git
alias push="git push"
alias gp="git pull"
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gl="git log --graph --pretty=format:'%C(blue)%h%C(red)%d %C(green)%ar %C(white)%s %C(yellow)(%an)' --abbrev-commit --date=relative"
alias gco="git checkout"
alias gcb="git checkout -b"
alias undopush="git push -f origin HEAD^:master" # Undo a `git push`
alias master="git checkout master"
###

# Shortcuts
alias g="git"
alias v="vim"
alias c="clear"
###

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Linux only commands
# Restart Network Conections (Wifi)
alias restartwifi="sudo service network-manager restart
alias connectvpn="nmcli con up id VPN\ IR
###

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
